*.class
*.jar
*.zip
*.tmp
*.out
junit*.properties
/*.bat
/*.sh
dont_commit
*.xml.versionsBackup

.classpath
.project
.settings

/bin
/build
/lib
/tmp
/src/prolog/tmp
/temp
/projogGeneratedClasses
/target
